<%- include('../layout-header'); -%>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div class="container-fluid">
           
          </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
              <!-- Small boxes (Stat box) -->
              <div class="row">

              </div>
              <!-- /.row -->
              <!-- Main row -->
              <div class="row">
                  <!-- Left col -->
                  <section class="col-lg-12 connectedSortable">
                      <!-- Custom tabs (Charts with tabs)-->
                      <div class="card">
                          <div class="card-header bg-dark">
                              <h3 class="card-title">
                                  <i class="fas fa-users mr-1"></i>
                                 Atendentes
                              </h3>
                          </div><!-- /.card-header -->
                          <div class="card-body">
                              <div class="container-fluid">

                                <div class="row">
                                  <div class="col-xl-3 bg-secondary rounded-3">
                                    <div class="p-3 mt-3">
                                      <h1>Atendentes</h1>
                                      <p>Controle os usuários que têm acesso à sua empresa!</p>
                                      <p>
                                        Você tem
                                        <strong> <%= registros %> </strong>
                                        atendentes cadastrados
                                      </p>
                                    </div>
                                  </div>
                                  <div class="col-xl-9">
                                    <div class="row p-3 mt-3 d-flex">
                                      <div class="col-5">
                                        <h2>Listagem</h2>
                                      </div>
                                      <div
                                        class="col-7 d-flex justify-content-center align-items-center"
                                      >
                                        <input
                                          type="text"
                                          class="form-control me-3"
                                          placeholder="Pesquisar atendente"
                                        />
                                        <!-- Button trigger modal -->
                                        <button
                                          type="button"
                                          class="btn btn-primary ps-4 pe-4"
                                          data-bs-toggle="modal"
                                          data-bs-target="#exampleModal"
                                        >
                                          <i class="fas fa-plus-circle"></i>
                                        </button>
                      
                                        <!-- Modal -->
                                        <div
                                          class="modal fade"
                                          id="exampleModal"
                                          tabindex="-1"
                                          aria-labelledby="exampleModalLabel"
                                          aria-hidden="true"
                                        >
                                          <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5
                                                  class="modal-title text-center"
                                                  id="exampleModalLabel"
                                                >
                                                  Cadastrar atendente
                                                </h5>
                                                <button
                                                  type="button"
                                                  class="btn-close"
                                                  data-bs-dismiss="modal"
                                                  aria-label="Close"
                                                ></button>
                                              </div>
                                              <form
                                                id="form-atendente"
                                                onsubmit="atendenteController.cadastrarAtendente(event)"
                                              >
                                                <div class="modal-body">
                                                  <div class="row">
                                                    <div class="col-6">
                                                      <div class="input-group mb-3">
                                                        <span
                                                          class="input-group-text"
                                                          id="basic-addon1"
                                                          >Primeiro nome</span
                                                        >
                                                        <input
                                                          type="text"
                                                          class="form-control"
                                                          aria-label="Username"
                                                          aria-describedby="basic-addon1"
                                                          name="primeiro-nome"
                                                        />
                                                      </div>
                                                    </div>
                      
                                                    <div class="col-6">
                                                      <div class="input-group mb-3">
                                                        <span
                                                          class="input-group-text"
                                                          id="basic-addon1"
                                                          >Segundo nome</span
                                                        >
                                                        <input
                                                          type="text"
                                                          class="form-control"
                                                          aria-label="Username"
                                                          aria-describedby="basic-addon1"
                                                          name="segundo-nome"
                                                        />
                                                      </div>
                                                    </div>
                                                  </div>
                      
                                                  <div class="row">
                                                    <div class="col-6">
                                                      <div class="input-group mb-3">
                                                        <span
                                                          class="input-group-text"
                                                          id="basic-addon1"
                                                          >E-mail</span
                                                        >
                                                        <input
                                                          type="text"
                                                          class="form-control"
                                                          aria-label="Username"
                                                          aria-describedby="basic-addon1"
                                                          name="email"
                                                        />
                                                      </div>
                                                    </div>
                      
                                                    <div class="col-6">
                                                      <div class="input-group mb-3">
                                                        <span
                                                          class="input-group-text"
                                                          id="basic-addon1"
                                                          >Senha</span
                                                        >
                                                        <input
                                                          type="password"
                                                          class="form-control"
                                                          aria-label="Username"
                                                          aria-describedby="basic-addon1"
                                                          name="senha"
                                                        />
                                                      </div>
                                                    </div>
                                                  </div>
                      
                                                  <select
                                                    class="form-select"
                                                    aria-label="Default select example"
                                                    name="setor"
                                                    id="setor"
                                                  >
                                                    <option selected>Opcional</option>
                                                    <option value="administrador">
                                                      Administrador
                                                    </option>
                                                    <option value="agendamento">Agendamento</option>
                                                    <option value="comercial">Comercial</option>
                                                    <option value="financeiro">Financeiro</option>
                                                    <option value="periodo da noite">
                                                      Periodo da noite
                                                    </option>
                                                    <option value="Suporte">Suporte</option>
                                                  </select>
                                                </div>
                      
                                                <div class="modal-footer">
                                                  <button
                                                    type="submit"
                                                    class="btn btn-primary cadastrar"
                                                  >
                                                    Cadastrar
                                                  </button>
                                                  <button
                                                    type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal"
                                                  >
                                                    Cancelar
                                                  </button>
                                                </div>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                      
                                    <div class="d-flex flex-wrap justify-content-start">
                                      <% for(var i=0; i < atendente.length; i++) { %>
                      
                                      <div
                                        class="p-4 mt-3 me-2 ms-2 mb-3 d-flex justify-content-center align-items-center text-center bg-success rounded card-atendente"
                                      >
                                        <div class="p-2">
                                          <img
                                            src="assets/img/atendente.png"
                                            width="120"
                                            height="120"
                                          />
                                          <p class="bg-primary rounded mt-2">online</p>
                                          <p><%= atendente[i].nivel_acesso %></p>
                                          <p><%= atendente[i].nome %></p>
                                          <p><%= atendente[i].email %></p>
                                          <a href="/perfil/<%= atendente[i].id %>">
                                            <button class="btn btn-light">
                                              <i class="fas fa-cog me-1"></i>
                                              Gerenciar
                                            </button>
                                          </a>
                                        </div>
                                      </div>
                      
                                      <% } %>
                                    </div>
                                  </div>
                                </div>

                              </div>
                        </div>
                      </div>
                                  <!-- /.card -->
                  </section>
                  <!-- /.row (main row) -->
              </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->






<script src="assets/config/config.js"></script>
<script src="assets/controllers/AtendenteController.js"></script>
<script src="assets/controllers/requisicoesAjax/AtendenteRequisicoesAjax.js"></script>
<script>
  let atendenteController = new AtendenteController();
</script>
<%- include('../layout-footer'); -%>
