<%- include('../layout-header'); -%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div class="container-fluid">
           
          </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
              <!-- Small boxes (Stat box) -->
              <div class="row">

              </div>
              <!-- /.row -->
              <!-- Main row -->
              <div class="row">
                  <!-- Left col -->
                  <section class="col-lg-12 connectedSortable">
                      <!-- Custom tabs (Charts with tabs)-->
                      <div class="card">
                          <div class="card-header bg-dark">
                              <h3 class="card-title ">
                                  <i class="fas fa-users mr-1"></i>
                                 Perfil
                              </h3>
                          </div><!-- /.card-header -->
                          <div class="card-body">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col-xl-3 bg-secondary rounded-3 ">
                                    <div class="p-3">
                                      <h1>Atendentes</h1>
                                      <p>Controle os usuários que têm acesso à sua empresa!</p>
                                    </div>
                                    <div class="d-flex justify-content-center ">
                                      <% if(usuario.caminho_avatar == null || usuario.caminho_avatar == "") { %>
                                      <img src="assets/img/user.png" width="120" height="120" class="mt-5 mb-3" />
                                      <% }else{ %>
                                        <img src="<%= usuario.caminho_avatar %>" width="120" height="120" class="mt-5 mb-3" />
                                        <% } %>
                                    </div>
                                    <form method="post" enctype="multipart/form-data" action="/atualizar-avatar">
                                      <div class="input mb-4 text-center">
                                        <span class="input-text " id="basic-addon1"
                                        >Upload avatar</span
                                      >
                                      <input type="file" class="form-control" id="inputGroupFile01" name="file">
                                      <button type="submit" class="btn btn-sm btn-success mt-3">Atualizar avatar</button>
                                    </div>
                                  </form>
                                  </div>
                                  <div class="col-xl-9 pt-2 pb-2 ps-4 pe-3">
                                    <div class="row p-3 mt-3 d-flex justify-content-between">
                                      <div class="col-5">
                                        <h2>Gerenciando <%= usuario.nome %></h2>
                                      </div>
                                      <div
                                        class="col-5 d-flex justify-content-end align-items-center"
                                      >
                                        <a href="/atendentes">
                                          <button class="btn btn-primary btn-sm">
                                            <i class="fas fa-arrow-left me-1"></i> Ir para a lista de
                                            atendentes
                                          </button></a
                                        >
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="input mb-3">
                                          <span class="input-text" id="basic-addon1">Nome</span>
                                          <input
                                            type="text"
                                            value="<%= usuario.nome %>"
                                            class="form-control"
                                            aria-label="Username"
                                            
                                            aria-describedby="basic-addon1"
                                            name="nome"
                                          />
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="input mb-3">
                                          <span class="input-text" id="basic-addon1"
                                            >Sobrenome</span
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            aria-label="Username"
                                            value="<%= usuario.sobrenome %>"
                                            aria-describedby="basic-addon1"
                                            name="sobrenome"
                                          />
                                        </div>
                                      </div>
                                    </div>
                      
                                    <div class="row">
                                      <div class="col">
                                        <div class="input mb-3">
                                          <span class="input-text" id="basic-addon1"
                                            >E-mail</span
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            aria-label="Username"
                                            value="<%= usuario.email %>"
                                            aria-describedby="basic-addon1"
                                            name="email"
                                          />
                                        </div>
                                      </div>
                                 
                                    </div>
                      
                                    <div class="row">
                                      <div class="col">
                                        <div class="input mb-3">
                                          <span class="input-text" id="basic-addon1"
                                            >Login</span
                                          >
                                          <input
                                            type="text"
                                            value="<%= usuario.usuario %>"
                                            class="form-control"
                                            
                                            aria-describedby="basic-addon1"
                                            name="login"
                                          />
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="input mb-3">
                                          <span class="input-text" id="basic-addon1"
                                            >Senha</span
                                          >
                                          <input
                                            type="password"
                                            class="form-control"
                                            aria-label="Username"
                                            aria-describedby="basic-addon1"
                                            name="senha"
                                          />
                                        </div>
                                      </div>
                                    </div>
                      
                                    <div class="row">
                                      <div class="col">
                                        <div class="input mb-3">
                                          <span class="input-text" id="basic-addon1"
                                            >Nível de acesso</span
                                          >
                                          <input
                                            type="text"
                                            value="<%= usuario.nivel_acesso %>"
                                            class="form-control"
                                            aria-label="Username"
                                            aria-describedby="basic-addon1"
                                            
                                            name="nivel_acesso"
                                          />
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="input mb-3">
                                          <span class="input-text" id="basic-addon1"
                                            >Status</span
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            aria-label="Username"
                                            aria-describedby="basic-addon1"
                                            value="<%= usuario.status %>"
                                            name="status"
                                          />
                                        </div>
                                      </div>
                                    </div>
                      
                                    <div class="row">
                                      <h1>Encaminhamento de mensagens (siga-me)</h1>
                                      <p>
                                        Seja notificado sempre que algum atendimento for transferido
                                        para você, de acordo com a opção selecionada
                                      </p>
                                    </div>
                      
                                    <div class="row">
                                      <div class="col">
                                        <div class="input mb-3">
                                          <span class="input-text" id="basic-addon1"
                                            >Nº WhatsApp</span
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            aria-label="Username"
                                            aria-describedby="basic-addon1"
                                          />
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="input mb-3">
                                          <span class="input-text" id="basic-addon1"
                                            >Receber notificacões</span
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            aria-label="Username"
                                            aria-describedby="basic-addon1"
                                          />
                                        </div>
                                      </div>
                                    </div>
                      
                                    <div class="row d-flex justify-content-between">
                                      <div class="col d-flex justify-content-start bg">
                                        <!-- Button trigger modal -->
                                        <button
                                          type="button"
                                          class="btn btn-danger"
                                          data-bs-toggle="modal"
                                          data-bs-target="#exampleModal"
                                        >
                                          Excluir atendente
                                        </button>
                      
                                        <!-- Modal -->
                                        <div
                                          class="modal fade"
                                          id="exampleModal"
                                          tabindex="-1"
                                          aria-labelledby="exampleModalLabel"
                                          aria-hidden="true"
                                        >
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                  Confiarmação de exclusão
                                                </h5>
                                                <button
                                                  type="button"
                                                  class="btn-close"
                                                  data-bs-dismiss="modal"
                                                  aria-label="Close"
                                                ></button>
                                              </div>
                                              <div class="modal-body">
                                                Realmente deseja excluir o atendente <%= id %>
                                              </div>
                                              <div class="modal-footer">
                                                <button
                                                  type="button"
                                                  class="btn btn-danger excluir"
                                                  id="<%= id %>"
                                                  onclick="perfilController.excluirAtendente(event,'<%= id %>')"
                                                >
                                                  Excluir Atendente
                                                </button>
                                                <button
                                                  type="button"
                                                  class="btn btn-secondary"
                                                  data-bs-dismiss="modal"
                                                >
                                                  Close
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col d-flex justify-content-end">
                                        <button class="btn btn-success"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal2">
                                          <i class="fas fa-edit pe-1"></i> Atualizar
                                        </button>
                                      </div>
                                              <!-- Modal -->
                                              <div
                                              class="modal fade"
                                              id="exampleModal2"
                                              tabindex="-1"
                                              aria-labelledby="exampleModalLabel"
                                              aria-hidden="true"
                                            >
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                      Confirmação de Atualização
                                                    </h5>
                                                    <button
                                                      type="button"
                                                      class="btn-close"
                                                      data-bs-dismiss="modal"
                                                      aria-label="Close"
                                                    ></button>
                                                  </div>
                                                  <div class="modal-body">
                                                    Realmente deseja atualizar o atendente <%= id %>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button
                                                      type="button"
                                                      class="btn btn-success excluir"
                                                      id="<%= id %>"
                                                      onclick="perfilController.atualizarAtendente(event,'<%= id %>')"
                                                    >
                                                      Atualizar Atendente
                                                    </button>
                                                    <button
                                                      type="button"
                                                      class="btn btn-secondary"
                                                      data-bs-dismiss="modal"
                                                    >
                                                      Close
                                                    </button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                    </div>
                                  </div>
                                </div>
                           
                              
                               
                       

                              </div>
                        </div>
                      </div>
                                  <!-- /.card -->
                  </section>
                  <!-- /.row (main row) -->
              </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<script src="assets/controllers/requisicoesAjax/AtendenteRequisicoesAjax.js"></script>
<script src="assets/controllers/PerfilController.js"></script>
<script>
  let perfilController = new PerfilController();
</script>

<%- include('../layout-footer'); -%>
